packages: 
  python:
    requests: []
    boto: []

files:
  "/root/ebs_ec2_attach_and_mount.py":
    mode: "000755"
    owner: root
    group: root
    source: https://s3.amazonaws.com/uppoints-public/ebs_ec2_attach_and_mount_V2.0.py

commands:
  01-update-packages:
    command: yum update -y
  02-ebs-mounter:
    command: /root/ebs_ec2_attach_and_mount.py
